<table *ngIf="cities">
    <thead *ngIf="cities.length > 0">
        <tr>
            <th></th>
            <th>City</th>
            <th>Weather</th>
            <th>Temperature</th>
            <th>Pressure</th>
            <th>Humidity</th>
            <th>Visibility</th>
            <th>Wind</th>
            <th>Sunrise</th>
            <th>Sunset</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="vertical-align" oneCityWeather *ngFor="let cityData of cities" [city]="cityData" [colorDetector]="cityData.main.temp | kelvinToCelsius"
        ></tr>
    </tbody>
</table>