<template [ngIf]="cityWeather">
    <td>{{city}}</td>
    <td>
        <ng-container *ngFor="let weather of cityWeather.weather">
            {{weather.main}}
            <img src="{{'http://openweathermap.org/img/w/'+ weather.icon + '.png'}}" alt="">
        </ng-container>
    </td>
    <td>
        {{cityWeather.main.temp | kelvinToCelsius}} °C
    </td>
    <td>
        {{cityWeather.main.pressure}}
    </td>
    <td>
        {{cityWeather.main.humidity}}
    </td>
    <td>
        {{cityWeather.visibility}}
    </td>
    <td>
        {{cityWeather.wind.speed}}
    </td>
    <td>
        {{cityWeather.sys.sunrise*1000 | date:'H:mm:ss'}}
    </td>
    <td>
        {{cityWeather.sys.sunset*1000 | date:'H:mm:ss'}}
    </td>
    <td>

    </td>
</template>
