table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  & > thead {
    &:first-child > tr:first-child > th {
      border-top: 0;
    }

    & > tr > th {
      vertical-align: bottom;
      border-bottom: 2px solid #dddddd;
      padding: 8px;
      line-height: 1.42857143;
      border-top: 1px solid #dddddd;
      text-align: left;
    }
  }

  th:first-child,
  td:first-child {
    width: 10px;
  }

  th:nth-child(2),
  td:nth-child(2) {
    min-width: 200px;
  }

  & > tbody {
    & > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
    & > tr:hover {
      background-color: #f5f5f5;
    }
    & > tr > td {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #dddddd;
    }
  }

}

