<div class="alert alert-warning">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group">
        <input type="text" #box class="form-control" placeholder="Search for city...">
        <span class="input-group-btn">
        <button class="btn btn-primary" (click)="addItem(box.value)">Search</button>
      </span>
      </div>
    </div>
    <div class="col-sm-6 clearfix">
      <lastUpdate [lastUpdate]="lastUpdate"></lastUpdate>
    </div>
  </div>
</div>
<userWeatherTable  [cities]="cities | async "></userWeatherTable>
